<div class="row">
    <h1>hard & soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="60"
  [radius]="100"
  [imageSrc]="'../../../assets/lenguajes/css.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#0250c5'"
  [innerStrokeColor]="'#d43f8d'"
  [animation]="true"
  [animationDuration]="300"
>
</circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="40"
  [radius]="100"
  [imageSrc]="'../../../assets/lenguajes/html.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#0250c5'"
  [innerStrokeColor]="'#d43f8d'"
  [animation]="true"
  [animationDuration]="300"
>
</circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="100"
  [radius]="100"
  [imageSrc]="'../../../assets/lenguajes/java.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#0250c5'"
  [innerStrokeColor]="'#d43f8d'"
  [animation]="true"
  [animationDuration]="300"
>
</circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="55"
  [radius]="100"
  [imageSrc]="'../../../assets/lenguajes/javascript.png'"
  [showImage]="true"
  [imageHeight]="60"
  [imageWidth]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#0250c5'"
  [innerStrokeColor]="'#d43f8d'"
  [animation]="true"
  [animationDuration]="300"
>
</circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../../../assets/lenguajes/python.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#0250c5'"
  [innerStrokeColor]="'#d43f8d'"
  [animation]="true"
  [animationDuration]="300"
>
</circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="70"
  [radius]="100"
  [imageSrc]="'../../../assets/lenguajes/rubi.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#0250c5'"
  [innerStrokeColor]="'#d43f8d'"
  [animation]="true"
  [animationDuration]="300"
>
</circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="55"
  [radius]="100"
  [imageSrc]="'../../../assets/lenguajes/sql.png'"
  [showImage]="true"
  [imageHeight]="60"
  [imageWidth]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#0250c5'"
  [innerStrokeColor]="'#d43f8d'"
  [animation]="true"
  [animationDuration]="300"
>
</circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="45"
  [radius]="100"
  [imageSrc]="'../../../assets/lenguajes/angular.png'"
  [showImage]="true"
  [imageHeight]="60"
  [imageWidth]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#0250c5'"
  [innerStrokeColor]="'#d43f8d'"
  [animation]="true"
  [animationDuration]="300"
>
</circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="100"
  [radius]="100"
  [imageSrc]="'../../../assets/lenguajes/github.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#0250c5'"
  [innerStrokeColor]="'#d43f8d'"
  [animation]="true"
  [animationDuration]="300"
>
</circle-progress>
    </div>

    

</div>