<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/avatar.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="texto">Full stack developer jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="texto">Acerca de</h1>
            <p id="texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet quis at eveniet nesciunt, soluta commodi veritatis officia quod labore vitae illo voluptatibus quae ea voluptates harum quos. Necessitatibus, iure distinctio?</p>
        </span>
    </div>
 </div>
